@model ToDo.ViewModels.TaskListViewModel

@{
    ViewData["Title"] = "Szczegóły";
    float temp = (float)Model.Tasks.Count(x => x.IsDone == true) / (float)Model.Tasks.Count();
    int wykonano = ((float)Model.Tasks.Count(x => x.IsDone == true) == 0 && (float)Model.Tasks.Count() == 0) ? 0 : (int)Math.Round(temp * 100f);
}
<div class=" p-5" style="border-radius:5vh;">
    <partial name="_Background" />
    <div class="no-gradient">
        <div style="display: flex; justify-content: space-between; align-items: center;">
            <h1> @Html.DisplayFor(modelItem => Model.TaskList.Title)</h1>

            <a asp-action="Index" asp-route-id="@Model?.TaskList.TaskListId">
                <i style="text-decoration:none;color:black;" class="bi bi-x-lg"></i>
            </a>
        </div>

        <div>
            <p>Data utworzenia: @Html.DisplayFor(model => model.TaskList.CreateDate)</p>
            <div class="row g-0 row-cols-xs-1 row-cols-xxs-1">
                <div class="col-sm-6 col-md-8">
                    <a asp-action="Edit" asp-route-id="@Model?.TaskList.TaskListId" class="btn btn-outline-dark">Edytuj</a>
                    <a asp-action="Delete" asp-route-id="@Model?.TaskList.TaskListId" class="btn btn-outline-danger">Usuń</a>
                </div>
                <div class="col-6 col-md-4 text-end"><a href="@Url.Action("Create", "Tasks", new { taskListId = Model.TaskList.TaskListId })" class="btn btn-outline-dark">Dodaj zadanie</a></div>
            </div><br />
            <div class="progress" role="progressbar" aria-label="Success example" aria-valuemin="0" aria-valuemax="100" style="height:12px;background-color:white; border-radius:50px;">
                <div class="progress-bar bg-success" style="width: @wykonano%; background-color:black !important;font-size:12px;">@wykonano%</div>
            </div>
            <br />
            <table class="table">
                <thead>
                    <tr>
                        <th>

                        </th>
                        <th>
                            Tytuł
                        </th>
                        <th>
                            Priorytet
                        </th>
                        <th>
                            Termin ukończenia
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Tasks)
                    {
                        <tr>

                            <td>
                                @using (Html.BeginForm("Check", "Tasks", new { id = item.TaskId }, FormMethod.Post))
                                {
                                    @Html.AntiForgeryToken()

                                    <button type="submit" style="border: none; background: none; padding: 0; margin: 0; font: inherit; color: inherit; cursor: pointer;">
                                        <i class="@(item.IsDone==true ? "bi bi-check-square-fill" : "bi bi-square")"></i>
                                    </button>
                                }

                            </td>
                            <td class="@(item.IsDone==true ? "strikethrough" : "")">
                                <a href="@Url.Action("Details", "Tasks", new { id =item.TaskId })" style="text-decoration:none;color:black;">@Html.DisplayFor(modelItem => item.Title)</a>
                            </td>
                            <td class="@(item.IsDone==true ? "strikethrough" : "")">
                                @Html.DisplayFor(modelItem => item.Priority.PriorityName)
                            </td>
                            <td class="@(item.IsDone==true ? "strikethrough" : "")">
                                @Html.DisplayFor(modelItem => item.Deadline)
                            </td>

                            <td>
                                @*<a href="@Url.Action("Edit", "Tasks", new { id =item.TaskId })" class="btn btn-outline-dark">Edycja</a>*@
                                @*<a href="@Url.Action("Details", "Tasks", new { id =item.TaskId })"><i class="bi bi-list" style="color: black;"></i></a>*@
                                <a href="@Url.Action("Delete", "Tasks", new { id =item.TaskId })"> <i style="color:black;" class="bi bi-trash"></i></a>
                            </td>
                       </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>