@model IEnumerable<ToDo.Models.TaskList>

@{
    ViewData["Title"] = "Listy zadań";
}

<div style="display: flex; justify-content: space-between; align-items: center;">
    <h1>Twoje listy zadań</h1>
    <p>
        <a asp-action="Create" class="btn btn-outline-dark">Nowa lista</a>
    </p>
</div>
<br />
<div class="container overflow-hidden">
    <div class="row row-cols-xs-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-3">
        @foreach (var item in Model)
        {
            <div class="">
                <div class="card" style="height:200px;">
                    <div class="card-body">
                        <div style="display: flex; justify-content: space-between; align-items: center;">
                            <a asp-action="Details" asp-route-id="@item.TaskListId" style="text-decoration:none;color:black;">
                                <h5 class="card-title"> @Html.DisplayFor(modelItem => item.Title)</h5>
                            </a>
                            <a asp-action="Delete" asp-route-id="@item.TaskListId">
                                <i style="text-decoration:none;color:black;" class="bi bi-x-lg"></i>
                            </a>
                        </div>
                        <br><br>
                        <p class="card-text">
                            <a asp-action="Details" asp-route-id="@item.TaskListId" class="btn btn-outline-dark">Szczegóły</a>
                            <a asp-action="Edit" asp-route-id="@item.TaskListId" class="btn btn-outline-dark">Edycja</a>
                        </p>
                        
                        <div class="progress" role="progressbar" aria-label="Success example" aria-valuemin="0" aria-valuemax="100" style="height:10px; ">
                            <div class="progress-bar bg-success" style="width: 25%; background-color:black !important;"></div>
                        </div>

                        <p class="card-text"><small class="text-body-secondary">Ukończono: 25%</small></p>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
