@model IEnumerable<ToDo.Models.Priority>

@{
    ViewData["Title"] = "Rodzaje priorytetów";
}

<div style="display: flex; justify-content: space-between; align-items: center;">
    <h1>Rodzaje priorytetów</h1>
    <div>
        <a asp-action="Create" class="btn btn-outline-dark">Nowy priorytet</a>
    </div>
</div><br />
@using (Html.BeginForm())
    {
        <div class="text-end">
            Szukaj priorytetu: @Html.TextBox("SearchString")
            <input type="submit" class="btn btn-dark" value="Szukaj" />
        </div>
    }
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.ActionLink("Nazwa", "Index", new { sortOrder = ViewBag.NameSortParm })
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PriorityName)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.PriorityId" class="btn btn-outline-dark">Edycja</a>
                <a asp-action="Details" asp-route-id="@item.PriorityId" class="btn btn-outline-dark">Szczegóły</a> 
                    <a asp-action="Delete" asp-route-id="@item.PriorityId" class="btn btn-outline-danger">Usuń</a>
            </td>
        </tr>
}
    </tbody>
</table>
