@model IEnumerable<ToDo.Models.Category>

@{
    ViewData["Title"] = "Kategorie";
}
<partial name="_Background" />
<div class="no-gradient justify-content-center mx-auto" style="margin-top:15%;width:70%;">
<div style="display: flex; justify-content: space-between; align-items: center;">
    <h1>Kategorie</h1>
    <div>
        <a asp-action="Create" class="btn btn-outline-dark">Nowa kategoria</a>
    </div>
</div>
<br />
@using (Html.BeginForm(FormMethod.Get))
{
    <div class="text-end">
        Szukaj kategorii: @Html.TextBox("SearchString")
        <input type="submit" class="btn btn-dark" value="Szukaj" />
    </div>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.ActionLink("Nazwa", "Index", new { searchString = Context.Request.Query["searchString"],sortOrder = ViewBag.NameSortParm })
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a asp-action="Details" asp-route-id="@item.CategoryId">@Html.DisplayFor(modelItem => item.CategoryName)</a>
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.CategoryId" class="btn btn-outline-dark">Edytuj</a>
                    <a asp-action="Delete" asp-route-id="@item.CategoryId" class="btn btn-outline-danger">Usuń</a>
                </td>
            </tr>
        }
    </tbody>
</table></div>
