@model ToDo.Models.Task

@{
    ViewData["Title"] = "Szczegóły";
}

<h1>Szczegóły</h1>

<div>
    <h4>Zadanie</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Tytuł
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            Opis
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            Zrobione
        </dt>
        <dd class="col-sm-10">
            <i class="@(Model.IsDone==true ? "bi bi-check-square-fill" : "bi bi-square")"></i>
        </dd>
        <dt class="col-sm-2">
            Data utworzenia
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreateDate)
        </dd>
        <dt class="col-sm-2">
            Termin ukończenia
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Deadline)
        </dd>
        <dt class="col-sm-2">
            Lista zadań
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TaskList.Title)
        </dd>
        <dt class="col-sm-2">
            Priorytet
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Priority.PriorityName)
        </dd>
        <dt class="col-sm-2">
            Kategoria
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Category.CategoryName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.TaskId" class="btn btn-outline-dark">Edycja</a>
    <a href="@Url.Action("Details", "TaskLists", new { id = Model.TaskListId })" class="btn btn-outline-dark">Powrót</a>
</div>
