@model IEnumerable<ToDo.Models.Task>

@{
    ViewData["Title"] = "Zadania";
}

<div style="display: flex; justify-content: space-between; align-items: center;">
    <h1>Zadania</h1>
    <p>
        <a asp-action="Create" class="btn btn-outline-dark">Nowe zadanie</a>
    </p>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                Tytuł
            </th>
            <th>
                Opis
            </th>
            <th>
                Zrobione
            </th>
            <th>
                Data utworzenia
            </th>
            <th>
                Termin ukończenia
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsDone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreateDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Deadline)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.TaskId" class="btn btn-outline-dark">Edycja</a>
                    <a asp-action="Details" asp-route-id="@item.TaskId" class="btn btn-outline-dark">Szczegóły</a>
                    <a asp-action="Delete" asp-route-id="@item.TaskId" class="btn btn-outline-dark">Usuń</a>
            </td>
        </tr>
}
    </tbody>
</table>
